node_modules
/dist
.DS_Store
.pnpm-debug.log*
*.tsbuildinfo
*.zip

/src/user-scripts/style.ts
/extension
!/extension/manifest.json
!/extension/images
!/extension/pages/*.html
!/extension/scripts/jquery*.min.js
