@mixin line-clamp($lines: 1, $line-height: 1.4) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  line-height: $line-height;
}

@mixin common-button() {
  position: relative;
  display: inline-flex;
  gap: 5px;
  align-items: center;
  height: 28px;
  padding: 0 12px;
  color: var(--button-foreground-color);
  font-weight: 500;
  font-size: 14px;
  font-family: inherit;
  line-height: 28px;
  white-space: nowrap;
  text-shadow: none;
  background: var(--button-background-color);
  border: none;
  border-radius: 6px;
  outline: none;
  box-shadow: 0 1.8px 0 var(--box-background-hover-color), 0 1.8px 0 var(--button-background-color);
  cursor: pointer;
  transition: color 0.25s, background-color 0.25s, box-shadow 0.25s;
  user-select: none;

  &:hover:enabled {
    color: var(--button-foreground-color);
    font-weight: 500;
    text-shadow: none;
    background: var(--button-hover-color);
    border: none;
    box-shadow: var(--button-hover-shadow);
  }

  &.hover_now,
  &.disable_now {
    color: var(--button-foreground-color) !important;
    text-shadow: none !important;
    background: var(--button-background-color) !important;
    border: none !important;
    box-shadow: 0 1.8px 0 var(--box-background-hover-color) !important,
      0 1.8px 0 var(--button-background-color) !important;
  }

  &.disable_now {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  kbd {
    position: relative;
    right: -4px;
    padding: 0 3px;
    font-size: 90%;
    font-family: inherit;
    line-height: initial;
    border: 1px solid var(--button-border-color);
    border-radius: 4px;
  }
}

@mixin hover-button {
  position: relative;
  z-index: 1;
  margin: 0;
  text-decoration: none;
  background: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s;
  user-select: none;

  &::before {
    position: absolute;
    top: 0;
    right: -5px;
    bottom: 0;
    left: -5px;
    z-index: -1;
    background-color: var(--v2p-color-bg-hover-btn);
    border-radius: 5px;
    transform: scale(0.6);
    opacity: 0;
    transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
    content: '';
  }

  &:hover {
    text-decoration: none;

    &::before {
      transform: scale(1);
      opacity: 1;
    }
  }

  @content;
}

@mixin input($minHeight: unset, $maxHeight: 800px) {
  height: unset;
  min-height: $minHeight !important;
  max-height: $maxHeight !important;
  overflow: hidden;
  font-size: 15px;
  background-color: var(--v2p-color-bg-input);
  border: 1px solid var(--button-border-color);
  border-radius: 8px;
  transition: opacity 0.25s;
  resize: none;

  @content;

  &::placeholder {
    color: var(--v2p-color-main-500);
    font-size: 15px;
  }

  &:hover:not(:focus) {
    opacity: 0.8;
  }

  &:focus {
    background-color: transparent;
    border: 2px solid var(--button-border-color);
    outline: none;
  }
}
