:root {
  body {
    // 基础色：
    --v2p-color-main-50: #f1f5f999;
    --v2p-color-main-100: #f1f5f9;
    --v2p-color-main-200: #e2e8f0;
    --v2p-color-main-300: #cbd5e1;
    --v2p-color-main-350: #94a3b8cc;
    --v2p-color-main-400: #94a3b8;
    --v2p-color-main-500: #64748b;
    --v2p-color-main-600: #475569;
    --v2p-color-main-700: #334155;
    --v2p-color-main-800: #1e293b;
    --v2p-color-accent-50: #ecfdf5;
    --v2p-color-accent-100: #d1fae5;
    --v2p-color-accent-200: #a7f3d0;
    --v2p-color-accent-300: #6ee7b7;
    --v2p-color-accent-400: #34d399;
    --v2p-color-accent-500: #10b981;
    --v2p-color-accent-600: #059669;
    --v2p-color-orange-50: #fff7ed;
    --v2p-color-orange-100: #ffedd5;
    --v2p-color-orange-400: #fb923c;

    // 特别色：
    --v2p-color-background: #f2f3f5;
    --v2p-color-foreground: var(--v2p-color-main-800);
    --v2p-color-font-secondary: var(--v2p-color-main-400);
    --v2p-color-bg-content: #fff;
    --v2p-color-bg-footer: var(--v2p-color-bg-content);
    --v2p-color-bg-hover-btn: var(--v2p-color-main-100);
    --v2p-color-bg-subtle: rgb(236 253 245 / 90%);
    --v2p-color-bg-input: var(--v2p-color-main-50);
    --v2p-color-bg-search: var(--v2p-color-main-100);
    --v2p-color-bg-search-active: var(--v2p-color-main-200);
    --v2p-color-heart: #ef4444;
    --v2p-color-heart-fill: #fee2e2;
    --v2p-color-mask: rgb(0 0 0 / 25%);
    --v2p-color-divider: var(--v2p-color-main-200);
    --v2p-box-shadow: 0 3px 5px 0 rgb(0 0 0 / 4%);
    --v2p-widget-shadow: 0 9px 24px -3px var(--v2p-color-main-100),
      0 4px 8px -1px var(--v2p-color-main-200);

    // V2EX 原有的 CSS 变量：
    --color-fade: var(--v2p-color-font-secondary);
    --color-gray: var(--v2p-color-font-secondary);
    --link-color: var(--v2p-color-main-800);
    --link-darker-color: var(--v2p-color-main-600);
    --link-hover-color: var(--v2p-color-main-800);
    --link-caution-color: #f59e0b;
    --box-border-color: var(--v2p-color-main-200);
    --box-foreground-color: var(--v2p-color-main-800);
    --box-background-color: var(--v2p-color-bg-content);
    --box-background-alt-color: var(--v2p-color-main-100);
    --box-background-hover-color: var(--v2p-color-main-200);
    --button-hover-color: var(--v2p-color-main-200);
    --button-background-color: var(--v2p-color-main-100);
    --button-background-hover-color: var(--v2p-color-main-200);
    --button-foreground-color: var(--v2p-color-main-500);
    --button-foreground-hover-color: var(--v2p-color-main-600);
    --button-border-color: var(--v2p-color-main-300);
    --button-border-hover-color: var(--v2p-color-main-400);

    color: var(--v2p-color-foreground);
    font-family: system-ui, sans-serif;
    background-color: var(--v2p-color-background);
  }

  body:has(#Wrapper.Night) {
    // 基础色：
    --v2p-color-main-50: #2229;
    --v2p-color-main-100: #222;
    --v2p-color-main-200: #393939;
    --v2p-color-main-300: #4c4c4c;
    --v2p-color-main-350: #6a6a6acc;
    --v2p-color-main-400: #6a6a6a;
    --v2p-color-main-500: #999;
    --v2p-color-main-600: #cbcbcb;
    --v2p-color-main-700: #e0e0e0;
    --v2p-color-main-800: #f1f1f1;
    --v2p-color-accent-50: #064e3b;
    --v2p-color-accent-100: #065f46;
    --v2p-color-accent-200: #047857;
    --v2p-color-accent-300: #059669;
    --v2p-color-accent-400: #10b981;
    --v2p-color-accent-500: #34d399;
    --v2p-color-accent-600: #6ee7b7;
    --v2p-color-orange-50: #7c2d12;
    --v2p-color-orange-100: #9a3412;
    --v2p-color-orange-400: #fb923c;

    // 特别色：
    --v2p-color-background: #111;
    --v2p-color-foreground: var(--v2p-color-main-800);
    --v2p-color-bg-content: #181818;
    --v2p-color-bg-hover-btn: var(--v2p-color-main-200);
    --v2p-color-bg-subtle: rgb(6 78 59 / 30%);
    --v2p-color-bg-search: var(--v2p-color-main-200);
    --v2p-color-bg-search-active: var(--v2p-color-main-200);
    --v2p-color-heart: #b91c1c;
    --v2p-color-heart-fill: #fca5a5;
    --v2p-color-mask: rgb(0 0 0 / 70%);

    // V2EX 原有的 CSS 变量：
    --link-color: var(--v2p-color-main-700);
    --link-hover-color: var(--v2p-color-main-800);
    --box-foreground-color: var(--v2p-color-main-600);
    --button-background-color: var(--v2p-color-main-200);
  }
}
