:root {
  --zidx-serach: 100;
  --zidx-tabs: 10;
  --zidx-tools-card: 10;
  --zidx-reply-box: 99;
  --zidx-model-header: 50;
  --zidx-model-mask: 999;
  --zidx-toast: 999;
  --zidx-tip: 10;
  --zidx-popup: 99;
  --zidx-expand-mask: 10;
  --zidx-expand-btn: 20;

  body {
    // 基础色（参考自 TailwindCSS Slate）：
    --v2p-color-main-50: #f7f9fb;
    --v2p-color-main-100: #f1f5f9;
    --v2p-color-main-200: #e2e8f0;
    --v2p-color-main-300: #cbd5e1;
    --v2p-color-main-350: #94a3b8cc;
    --v2p-color-main-400: #94a3b8;
    --v2p-color-main-500: #64748b;
    --v2p-color-main-600: #475569;
    --v2p-color-main-700: #334155;
    --v2p-color-main-800: #1e293b;
    --v2p-color-accent-50: #ecfdf5;
    --v2p-color-accent-100: #d1fae5;
    --v2p-color-accent-200: #a7f3d0;
    --v2p-color-accent-300: #6ee7b7;
    --v2p-color-accent-400: #34d399;
    --v2p-color-accent-500: #10b981;
    --v2p-color-accent-600: #059669;
    --v2p-color-orange-50: #fff7ed;
    --v2p-color-orange-100: #ffedd5;
    --v2p-color-orange-400: #fb923c;

    // 特别色：
    --v2p-color-background: #f2f3f5;
    --v2p-color-foreground: var(--v2p-color-main-800);
    --v2p-color-font-secondary: var(--v2p-color-main-400);
    --v2p-color-bg-content: #fff;
    --v2p-color-bg-footer: var(--v2p-color-bg-content);
    --v2p-color-bg-hover-btn: var(--v2p-color-main-200);
    --v2p-color-bg-subtle: rgb(236 253 245 / 90%);
    --v2p-color-bg-input: var(--v2p-color-main-50);
    --v2p-color-bg-search: var(--v2p-color-main-100);
    --v2p-color-bg-search-active: var(--v2p-color-main-200);
    --v2p-color-bg-widget: rgb(255 255 255 / 70%);
    --v2p-color-bg-reply: var(--v2p-color-main-100);
    --v2p-color-heart: #ef4444;
    --v2p-color-heart-fill: #fee2e2;
    --v2p-color-mask: rgb(0 0 0 / 25%);
    --v2p-color-divider: var(--v2p-color-main-200);
    --v2p-color-border: var(--v2p-color-main-200);
    --v2p-color-border-reply: var(--v2p-color-main-300);
    --v2p-box-shadow: 0 3px 5px 0 rgb(0 0 0 / 4%);
    --v2p-widget-shadow: 0 9px 24px -3px rgb(0 0 0 / 6%), 0 4px 8px -1px rgb(0 0 0 /12%);
    --v2p-toast-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%),
      0 9px 28px 8px rgb(0 0 0 / 5%);

    // V2EX 原有的 CSS 变量：
    --color-fade: var(--v2p-color-font-secondary);
    --color-gray: var(--v2p-color-font-secondary);
    --link-color: var(--v2p-color-foreground);
    --link-darker-color: var(--v2p-color-main-600);
    --link-hover-color: var(--v2p-color-foreground);
    --link-caution-color: var(--v2p-color-orange-400);
    --box-border-color: var(--v2p-color-border);
    --box-foreground-color: var(--v2p-color-foreground);
    --box-background-color: var(--v2p-color-bg-content);
    --box-background-alt-color: var(--v2p-color-main-100);
    --box-background-hover-color: var(--v2p-color-main-200);
    --button-background-color: var(--v2p-color-main-100);
    --button-background-hover-color: var(--v2p-color-main-200);
    --button-hover-color: var(--button-background-hover-color);
    --button-foreground-color: var(--v2p-color-main-500);
    --button-foreground-hover-color: var(--v2p-color-main-600);
    --button-border-color: var(--v2p-color-main-300);
    --button-border-hover-color: var(--v2p-color-main-400);

    color: var(--v2p-color-foreground);
    font-family: system-ui, sans-serif;
    background-color: var(--v2p-color-background);

    ::selection {
      color: var(--v2p-color-main-100);
      background-color: var(--v2p-color-main-700);
    }

    img::selection {
      background-color: var(--v2p-color-main-500);
    }
  }

  body:has(#Wrapper.Night) {
    // 基础色：
    --v2p-color-main-100: #2d333b;
    --v2p-color-main-200: #374151;
    --v2p-color-main-300: #374151;
    --v2p-color-main-350: #6b7280cc;
    --v2p-color-main-400: #6b7280;
    --v2p-color-main-500: #9ca3af;
    --v2p-color-main-600: #9ca3af;
    --v2p-color-main-700: #d1d5db;
    --v2p-color-main-800: #e5e7eb;
    --v2p-color-main-900: #111827;
    --v2p-color-main-950: #030712;
    --v2p-color-accent-50: #064e3b;
    --v2p-color-accent-100: #065f46;
    --v2p-color-accent-200: #047857;
    --v2p-color-accent-300: #059669;
    --v2p-color-accent-400: #10b981;
    --v2p-color-accent-500: #34d399;
    --v2p-color-accent-600: #6ee7b7;
    --v2p-color-orange-50: #7c2d12;
    --v2p-color-orange-100: #9a3412;
    --v2p-color-orange-400: #fb923c;

    // 特别色：
    --v2p-color-background: #1c2128;
    --v2p-color-foreground: #adbac7;
    --v2p-color-font-secondary: var(--v2p-color-main-600);
    --v2p-color-bg-content: #22272e;
    --v2p-color-bg-subtle: rgb(6 78 59 / 30%);
    --v2p-color-bg-input: var(--v2p-color-background);
    --v2p-color-bg-search: var(--v2p-color-main-200);
    --v2p-color-bg-search-active: var(--v2p-color-main-200);
    --v2p-color-bg-widget: var(--v2p-color-bg-content);
    --v2p-color-bg-reply: var(--v2p-color-main-100);
    --v2p-color-heart: #b91c1c;
    --v2p-color-heart-fill: #fca5a5;
    --v2p-color-mask: rgb(99 110 123 / 40%);
    --v2p-color-border: #444c56;
    --v2p-color-border-reply: #444c56;
    --v2p-box-shadow: 0 0 0 1px var(--v2p-color-border);
    --v2p-toast-shadow: none;

    // V2EX 原有的 CSS 变量：
    --link-color: var(--v2p-color-foreground);
    --box-background-color: var(--v2p-color-bg-content);
    --box-background-alt-color: var(--v2p-color-main-100);
    --box-background-hover-color: var(--v2p-color-main-300);
    --button-background-color: #373e47;
    --button-background-hover-color: #444c56;
    --button-hover-color: var(--button-background-hover-color);
    --button-foreground-color: var(--v2p-color-foreground);
    --button-foreground-hover-color: var(--v2p-color-foreground);
    --button-border-color: var(--v2p-color-border);
    --button-border-hover-color: #768390;

    ::selection {
      color: var(--v2p-color-background);
      background-color: var(--v2p-color-foreground);
    }

    img::selection {
      background-color: var(--v2p-color-foreground);
    }
  }
}
