@use './share';

:root {
  color-scheme: light;

  &:has(#Wrapper.Night) {
    color-scheme: dark;
  }

  html,
  body {
    min-height: 100vh;
  }
}

/* stylelint-disable-next-line no-duplicate-selectors */
body {
  overflow: overlay;
  scrollbar-gutter: stable;

  #Top {
    height: 55px;
    background-color: var(--v2p-color-bg-content);
    border: none;
  }

  #Bottom {
    color: var(--v2p-color-font-secondary);
    border: none;
  }

  #Wrapper {
    background-color: inherit;
    background-image: none;

    &.Night {
      background-color: inherit;
      background-image: none;
    }

    .content {
      display: flex;
      gap: 25px;
    }
  }

  #Leftbar {
    order: 1;
    float: none;
  }

  #Main {
    flex: 1;
    order: 2;
    max-width: 85vw;
    margin: 0;
  }

  #Rightbar {
    order: 3;
    float: none;
  }

  #search-container {
    height: 30px;
    margin: 0 30px;
    background-color: var(--v2p-color-bg-search);
    border: none;
    border-radius: 6px;

    &::before {
      top: 0;
      left: 4px;
      background-size: 14px 14px;
      opacity: 0.6;
      filter: none;
    }

    &.active {
      background-color: var(--v2p-color-bg-search-active);
    }

    #search-result {
      top: 42px;
      box-shadow: 0 0 15px 5px var(--box-background-hover-color);

      .search-item {
        color: var(--color-gray);
      }
    }
  }

  .box {
    overflow: hidden;
    background-color: var(--v2p-color-bg-content);
    border: none;
    border-radius: 8px;
    box-shadow: var(--v2p-box-shadow);

    .header {
      > h1 {
        text-shadow: 2px 2px var(--v2p-color-bg-content);
      }

      .gray {
        color: var(--color-gray);
      }
    }
  }

  .button {
    --button-hover-shadow: 0 1.8px 0 var(--button-border-color),
      0 1.8px 0 var(--button-background-color);

    &.normal,
    &.super {
      @include share.common-button;

      &:hover:enabled {
        box-shadow: var(--button-hover-shadow);
      }

      &.hover_now,
      &.disable_now {
        color: var(--v2p-color-main-500) !important;
        text-shadow: none !important;
        background-color: var(--v2p-color-main-100) !important;
      }

      &.disable_now {
        cursor: default;
        opacity: 0.5;
        pointer-events: none;
      }
    }

    &.special {
      color: var(--v2p-color-accent-500);
      background-color: var(--v2p-color-accent-100);
      box-shadow: var(--button-hover-shadow);

      &:hover:enabled {
        color: var(--v2p-color-accent-500);
        background-color: var(--v2p-color-accent-100);
        box-shadow: var(--button-hover-shadow);
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  a.node:active,
  a.node:link,
  a.node:visited {
    padding: 5px 6px;
    color: var(--v2p-color-font-secondary);
    font-size: 13px;
    background-color: var(--v2p-color-main-100);
    border-radius: 4px;

    &:hover {
      color: var(--v2p-color-main-500);
      background-color: var(--v2p-color-main-200);
    }
  }

  .outdated {
    font-size: 12px;
    border-color: var(--v2p-color-main-200);
    border-bottom: none;
  }

  .page_normal,
  .page_current {
    &:link,
    &:visited {
      border: none;
    }
  }

  .page_normal {
    &:link,
    &:visited {
      background-color: var(--v2p-color-bg-content);
      box-shadow: 0 2px 2px var(--box-background-hover-color);
    }
  }

  .page_current {
    &:link,
    &:visited {
      font-weight: 500;
      background-color: var(--box-background-hover-color);
      box-shadow: none;
    }
  }

  .page_input {
    display: none;
  }

  .dock_area {
    background-image: none;
  }

  .member-activity-bar {
    background-color: var(--v2p-color-main-200);

    .member-activity-start {
      background-color: var(--v2p-color-accent-200);
    }

    .member-activity-fourth {
      background-color: var(--v2p-color-accent-400);
    }

    .member-activity-half {
      background-color: var(--v2p-color-accent-500);
    }

    .member-activity-almost {
      background-color: var(--v2p-color-orange-400);
    }
  }

  .online {
    user-select: none;
  }

  #topic_supplement {
    @include share.input(550px) {
      overflow-y: auto;
    }
  }

  .item_hot_topic_title {
    @include share.line-clamp(2);
  }
}

::selection {
  color: currentColor;
  background-color: var(--v2p-color-main-200);
}

img::selection {
  background-color: var(--v2p-color-main-400);
}

/* ====== 帖子标签 ====== */

.box {
  .tag {
    &:link,
    &:visited {
      color: var(--v2p-color-font-secondary);
      font-size: 12px;
      background-color: var(--v2p-color-main-100);
      border-radius: 5px;
    }

    &::before {
      color: var(--v2p-color-main-500);
    }

    > li {
      opacity: 0.6;
    }
  }
}

/* ------ 帖子标签 ------ */

#Top {
  .content {
    height: 100%;
  }

  .site-nav {
    height: 100%;
    padding: 0;
  }

  .tools {
    display: flex;
    gap: 8px 15px;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 14px;

    .top {
      margin-left: 0;
      padding: 3px 5px;
      color: var(--v2p-color-font-secondary);
      border-radius: 4px;

      &:hover {
        color: var(--v2p-color-main-800);
      }

      &:not(.v2p-hover-btn):hover {
        background-color: var(--v2p-color-main-100);
      }

      &.v2p-hover-btn {
        transition: color 0.3s;
      }
    }
  }
}

/* ================================================================ */

#Main {
  > .box {
    padding: 0 12px;

    .cell {
      padding: 20px 10px;
    }
  }

  .topic_buttons {
    /* ====== 帖子操作按钮 ====== */

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 0;
    column-gap: 5px;
    background: none;

    .topic_stats {
      flex: 1;
      order: 99;
      float: none;
      margin-left: 10px;
      padding: 0 !important;
      font-size: 12px;
      text-shadow: none;
    }

    a.tb:link {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding: 5px;
      white-space: nowrap;
      column-gap: 5px;
      background: none;
      border-radius: 4px;

      &:not(.v2p-hover-btn) {
        color: var(--v2p-color-font-secondary);
      }

      &:hover:not(.v2p-hover-btn) {
        color: currentcolor;
        background: var(--v2p-color-main-100);
      }
    }
  }

  .topic_content {
    font-size: 16px;
  }

  .subtle {
    background-color: var(--v2p-color-bg-subtle);
    border-left: 3px solid var(--v2p-color-accent-200);

    .topic_content {
      font-size: 15px;
    }
  }

  .vote:link {
    color: var(--v2p-color-main-500);
    border-color: var(--v2p-color-main-300);
    border-radius: 5px;

    &:hover {
      box-shadow: 0 2px 2px var(--v2p-color-main-200);
    }
  }

  .cell_tab_current {
    border-color: var(--v2p-color-main-800);
  }

  .cell {
    .topic-link {
      color: var(--v2p-color-main-800);
      text-decoration: none;

      &:visited {
        color: var(--v2p-color-font-secondary);
      }
    }

    .topic_info {
      position: relative;
      display: flex;
      align-items: center;
      user-select: none;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: -6px;
        left: 0;
        z-index: 1;
        background-color: var(--v2p-color-bg-content);
        content: '';
      }

      .votes,
      .node,
      strong:first-of-type,
      span:first-of-type {
        position: relative;
        z-index: 2;
      }

      a[href^='/member'] {
        color: var(--v2p-color-main-500);
        font-weight: 500;
      }
    }

    &:hover .count_livid {
      opacity: 1;
    }

    .count_livid {
      display: inline-block;
      padding: 5px 10px;
      color: var(--v2p-color-font-secondary);
      font-weight: 400;
      font-size: 12px;
      white-space: nowrap;
      background-color: var(--v2p-color-main-200);
      border-radius: 5px;
      opacity: 0.8;
    }

    .item_title {
      .topic-link {
        font-weight: bold;
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .cell.item {
    tr > td:nth-child(2) {
      width: 30px;
    }
  }

  .cell[id^='r'] {
    &:hover {
      > table {
        td:last-of-type {
          .fr {
            a {
              opacity: 1;
            }
          }
        }
      }
    }

    > table {
      &:first-of-type td {
        &:first-of-type {
          width: 40px;

          .avatar {
            width: 40px !important;
            border-radius: 5px;
            aspect-ratio: 1;
          }
        }
      }

      ~ .cell {
        /* 嵌套回复 */

        padding: 20px 0 0 15px;
        border: none;

        .cell {
          padding: 20px 0 0; /* 多层嵌套取消缩进 */
          border: none;
        }

        tr td {
          &:first-of-type {
            width: 25px;

            .avatar {
              width: 25px !important;
              border-radius: 4px;
            }
          }

          /* 回复人的昵称 */
          &:nth-child(3) strong a {
            font-size: 13px;
            opacity: 0.75;
          }
        }

        /* 回复的内容 */
        .reply_content {
          font-size: 14px;
        }
      }

      td {
        &:nth-of-type(2) {
          /* 头像与右侧的距离 */
          width: 15px;
        }

        &:last-of-type {
          a.dark {
            color: var(--v2p-color-main-600);
            text-decoration: none;
          }

          .fr {
            position: relative;
            top: -3px;
            user-select: none;

            a {
              opacity: 0;
            }

            & + .sep3 {
              height: 0;
            }
          }
        }
      }
    }

    &:last-of-type {
      border: none;
    }

    .no {
      position: relative;
      top: -4px;
      padding: 5px 10px;
      color: var(--v2p-color-main-300);
      font-size: 12px;
      background-color: transparent;
      border-radius: 5px;
      user-select: none;
    }

    /* 帖主徽章 & 管理员徽章 & 自己徽章 */
    .badge {
      padding: 2px 5px;
      font-weight: bold;
      border: 1px solid var(--v2p-color-accent-400);
      user-select: none;

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &.op {
        color: var(--v2p-color-accent-500);
        background-color: var(--v2p-color-accent-50);
      }

      &.mod {
        color: var(--v2p-color-bg-content);
        background-color: var(--v2p-color-accent-400);
      }

      &.you {
        color: var(--v2p-color-orange-400);
        background-color: var(--v2p-color-orange-50);
        border: 1px solid var(--v2p-color-orange-400);
      }
    }
  }

  #Tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 6px 8px;
    align-items: center;

    .tab {
      margin: 0;
      user-select: none;
    }
  }

  #SecondaryTabs {
    padding: 10px;
    background-color: var(--v2p-color-main-100);
    border-radius: 5px;
  }

  .topic_content,
  .reply_content {
    a[href^='http'] {
      color: var(--v2p-color-main-500);
      text-decoration: none;
      background-color: var(--v2p-color-main-100);

      &:hover {
        color: var(--v2p-color-accent-500);
        background-color: var(--v2p-color-accent-50);
      }
    }

    a[href^='/t'] {
      color: var(--v2p-color-orange-400);
      text-decoration: none;
    }
  }

  .reply_content {
    font-size: 15px;

    a[href^='/member'] {
      color: var(--v2p-color-font-secondary);
      font-size: 13px;
      text-decoration: underline;
      background-color: var(--v2p-color-main-100);
    }
  }

  .thank_area {
    font-size: 12px;
  }

  .tab {
    background-color: transparent;

    &:not(.v2p-hover-btn):hover {
      background-color: var(--v2p-color-main-100);
    }
  }

  .tab_current {
    background-color: var(--box-foreground-color);
  }

  #reply-box {
    &.reply-box-sticky {
      bottom: 20px;
      z-index: 10;
      overflow: visible;
      border: none;
      border-radius: 10px;
      outline: 2px solid var(--v2p-color-main-200);
    }

    #reply_content {
      @include share.input(120px);

      & + .flex-one-row {
        flex-direction: row-reverse;
        gap: 10px;
        justify-content: flex-start;

        .gray {
          margin-right: auto;
        }
      }
    }

    > .cell {
      font-size: 12px;

      &.flex-one-row {
        min-height: 45px;
        padding: 0 10px;
      }

      &.flex-row-end {
        padding: 12px 10px;
      }

      &:has(form) {
        padding-top: 0;
      }
    }
  }

  #no-comments-yet {
    color: var(--color-gray);
    border-color: var(--color-gray);
  }

  #notifications {
    .cell[id^='n'] {
      &:hover {
        .node {
          opacity: 1;
        }
      }

      .node {
        opacity: 0;
      }

      .payload {
        color: var(--v2p-color-main-800);
        background-color: var(--v2p-color-main-100);
      }
    }
  }
}

/* ================================================================ */

#Rightbar {
  .box {
    transition: opacity 0.25s;

    & ~ .box {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }

  .balance_area {
    display: flex;
    align-items: center;
  }
}

/* ================================================================ */

#Bottom {
  position: sticky;
  top: 100%;

  a.dark {
    font-weight: 400;
    font-size: 13px;

    &:link,
    &:active,
    &:visited,
    &:hover {
      color: var(--v2p-color-main-500);
    }
  }
}
