body.v2p-mode-compact {
  --v2p-nav-height: 45px;
  --v2p-layout-column-gap: 20px;
  --v2p-tp-item-x: 12px;
  --v2p-tp-item-y: 0px;
  --v2p-tp-tabs-pd: 6px;
  --v2p-tp-nested-pd: 10px;

  visibility: visible;

  #Main {
    .cell {
      .item_title {
        .topic-link {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}
