:root {
  body {
    --v2p-color-main-100: #f1f5f9;
    --v2p-color-main-200: #e2e8f0;
    --v2p-color-main-300: #cbd5e1;
    --v2p-color-main-400: #94a3b8;
    --v2p-color-main-500: #64748b;
    --v2p-color-main-600: #475569;
    --v2p-color-main-700: #334155;
    --v2p-color-main-800: #1e293b;
    --v2p-color-accent-50: #ecfdf5;
    --v2p-color-accent-100: #d1fae5;
    --v2p-color-accent-200: #a7f3d0;
    --v2p-color-accent-300: #6ee7b7;
    --v2p-color-accent-400: #34d399;
    --v2p-color-accent-500: #10b981;
    --v2p-color-accent-600: #059669;
    --v2p-color-orange-50: #fff7ed;
    --v2p-color-orange-100: #ffedd5;
    --v2p-color-orange-400: #fb923c;
    --v2p-color-border: rgb(238 238 238);
    --v2p-color-wrapper-bg: rgb(249 250 252);
    --v2p-color-content-bg: #fff;
    --v2p-color-heart: #f43f5e;
    --v2p-color-heart-fill: #ffe4e6;
    --v2p-color-mask: rgb(0 0 0 / 25%);
    --v2p-box-shadow: 0 2px 2px var(--v2p-color-main-200);
    --v2p-font-noto-sans: -apple-system, BlinkMacSystemFont, 'Microsoft Yahei', sans-serif;

    // V2EX 原有的 CSS 变量：
    --color-fade: var(--v2p-color-main-400);
    --color-gray: var(--v2p-color-main-400);
    --link-color: var(--v2p-color-main-800);
    --link-hover-color: var(--v2p-color-main-800);
    --link-caution-color: #f59e0b;
    --box-border-color: var(--v2p-color-main-100);
    --box-foreground-color: var(--v2p-color-main-800);
    --box-background-color: var(--v2p-color-content-bg);
    --box-background-alt-color: var(--v2p-color-main-100);
    --box-background-hover-color: var(--v2p-color-main-200);
    --button-background-color: var(--v2p-color-main-100);
    --button-foreground-color: var(--v2p-color-main-500);
    --button-hover-color: var(--v2p-color-main-200);
    --button-border-color: var(--v2p-color-main-300);

    color: var(--v2p-color-main-800);
    font-family: var(--v2p-font-noto-sans);
    background-color: var(--v2p-color-wrapper-bg);
  }

  body:has(.Night) {
    --v2p-color-main-100: #222;
    --v2p-color-main-200: #393939;
    --v2p-color-main-300: #4c4c4c;
    --v2p-color-main-400: #6a6a6a;
    --v2p-color-main-500: #999;
    --v2p-color-main-600: #cbcbcb;
    --v2p-color-main-700: #e0e0e0;
    --v2p-color-main-800: #f1f1f1;
    --v2p-color-accent-50: #064e3b;
    --v2p-color-accent-100: #065f46;
    --v2p-color-accent-200: #047857;
    --v2p-color-accent-300: #059669;
    --v2p-color-accent-400: #10b981;
    --v2p-color-accent-500: #34d399;
    --v2p-color-accent-600: #6ee7b7;
    --v2p-color-border: rgb(238 238 238);
    --v2p-color-wrapper-bg: #181818;
    --v2p-color-content-bg: #222;
    --link-hover-color: var(--v2p-color-main-100);
    --button-background-color: var(--v2p-color-main-200);
  }
}

/* stylelint-disable-next-line no-duplicate-selectors */
body {
  overflow: overlay;
  scrollbar-gutter: stable;

  #Top {
    height: 55px;
    background-color: var(--v2p-color-content-bg);
    border: none;
  }

  #Bottom {
    border: none;
  }

  #Wrapper {
    background-color: inherit;
    background-image: none;

    &.Night {
      background-color: inherit;
      background-image: none;
    }

    .content {
      display: flex;
      gap: 15px;
    }
  }

  #Leftbar {
    order: 1;
    float: none;
  }

  #Main {
    flex: 1;
    order: 2;
    max-width: 85vw;
    margin: 0;
  }

  #Rightbar {
    order: 3;
    float: none;
  }

  #search-container {
    height: 30px;
    margin: 0 30px;
    background-color: var(--v2p-color-main-100);
    border: none;
    border-radius: 6px;

    &::before {
      top: 0;
      left: 4px;
      background-size: 14px 14px;
      opacity: 0.6;
      filter: none;
    }

    &.active {
      background-color: var(--v2p-color-main-100);
    }

    #search-result {
      top: 42px;
      box-shadow: 0 0 15px 5px var(--box-background-hover-color);

      .search-item {
        color: var(--color-gray);
      }
    }
  }

  .box {
    overflow: hidden;
    background-color: var(--v2p-color-content-bg);
    border: none;
    border-radius: 8px;
    box-shadow: none;

    .header {
      > h1 {
        text-shadow: 2px 2px var(--v2p-color-content-bg);
      }

      .gray {
        color: var(--v2p-color-main-400);
      }
    }
  }

  .button {
    &.normal,
    &.super {
      position: relative;
      display: inline-flex;
      gap: 5px;
      align-items: center;
      height: 28px;
      padding: 0 12px;
      color: var(--button-foreground-color);
      font-weight: 500;
      font-size: 14px;
      font-family: inherit;
      line-height: 28px;
      text-shadow: none;
      background: var(--button-background-color);
      border: none;
      border-radius: 6px;
      outline: none;
      box-shadow: 0 1.8px 0 var(--box-background-hover-color),
        0 1.8px 0 var(--button-background-color);
      cursor: pointer;
      transition: background-color 0.25s, box-shadow 0.25s;
      user-select: none;

      &:hover:enabled {
        color: var(--button-foreground-color);
        font-weight: 500;
        text-shadow: none;
        background: var(--button-hover-color);
        border: none;
        box-shadow: 0 1.8px 0 var(--button-border-color), 0 1.8px 0 var(--button-background-color);
      }

      &.hover_now,
      &.disable_now {
        color: var(--v2p-color-main-500) !important;
        text-shadow: none !important;
        background-color: var(--v2p-color-main-100) !important;
      }

      &.disable_now {
        cursor: default;
        opacity: 0.5;
        pointer-events: none;
      }

      kbd {
        position: relative;
        right: -4px;
        padding: 0 3px;
        font-size: 90%;
        line-height: initial;
        border: 1px solid var(--button-border-color);
        border-radius: 4px;
      }
    }

    &.special {
      color: var(--v2p-color-accent-500);
      background-color: var(--v2p-color-accent-100);
      box-shadow: 0 1.8px 0 var(--v2p-color-accent-200), 0 1.8px 0 var(--v2p-color-accent-100);

      &:hover:enabled {
        color: var(--v2p-color-accent-500);
        background-color: var(--v2p-color-accent-100);
        box-shadow: 0 1.8px 0 var(--v2p-color-accent-200), 0 1.8px 0 var(--v2p-color-accent-100);
      }
    }

    &.v2p-prev-btn,
    &.v2p-next-btn {
      padding: 0 15px;
    }
  }

  a.node:link {
    padding: 5px 6px;
    color: var(--v2p-color-main-400);
    font-size: 13px;
    background-color: var(--v2p-color-main-100);
    border-radius: 4px;
  }

  .outdated {
    font-size: 12px;
    border-color: var(--v2p-color-main-200);
    border-bottom: none;
  }

  .page_normal,
  .page_current {
    &:link,
    &:visited {
      border: none;
    }
  }

  .page_normal {
    &:link,
    &:visited {
      background-color: var(--v2p-color-content-bg);
      box-shadow: 0 2px 2px var(--box-background-hover-color);
    }
  }

  .page_current {
    &:link,
    &:visited {
      font-weight: 500;
      background-color: var(--box-background-hover-color);
      box-shadow: none;
    }
  }

  .page_input {
    display: none;
  }

  .dock_area {
    background-image: none;
  }

  .member-activity-bar {
    background-color: var(--v2p-color-main-200);

    .member-activity-start {
      background-color: var(--v2p-color-accent-200);
    }

    .member-activity-fourth {
      background-color: var(--v2p-color-accent-400);
    }

    .member-activity-half {
      background-color: var(--v2p-color-accent-500);
    }
  }
}

::selection {
  color: currentColor;
  background-color: var(--v2p-color-main-200);
}

img::selection {
  background-color: var(--v2p-color-main-400);
}

#no-comments-yet {
  color: var(--v2p-color-main-400);
  border-color: var(--v2p-color-main-400);
}

/* ====== 帖子标签 ====== */

.box {
  .tag {
    &:link,
    &:visited {
      color: var(--v2p-color-main-400);
      font-size: 12px;
      background-color: var(--v2p-color-main-100);
      border-radius: 5px;
    }

    &::before {
      color: var(--v2p-color-main-500);
    }

    > li {
      opacity: 0.6;
    }
  }
}

/* ------ 帖子标签 ------ */

#Top {
  .content {
    height: 100%;
  }

  .site-nav {
    height: 100%;
    padding: 0;
  }

  .tools {
    display: flex;
    gap: 8px 15px;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 14px;

    .top {
      margin-left: 0;
      padding: 3px 5px;
      color: var(--v2p-color-main-400);
      border-radius: 4px;

      &:hover {
        color: var(--v2p-color-main-800);
      }

      &:not(.v2p-hover-btn):hover {
        background-color: var(--v2p-color-main-100);
      }

      &.v2p-hover-btn {
        transition: color 0.3s;
      }
    }
  }
}

/* ================================================================ */

#Main {
  > .box {
    padding: 0 12px;

    .cell {
      padding: 20px 10px;
    }
  }

  .topic_buttons {
    /* ====== 帖子操作按钮 ====== */

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 0;
    column-gap: 5px;
    background: none;

    .topic_stats {
      flex: 1;
      order: 99;
      float: none;
      margin-left: 10px;
      padding: 0 !important;
      font-size: 12px;
      text-shadow: none;
    }

    a.tb:link {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding: 5px;
      white-space: nowrap;
      column-gap: 5px;
      background: none;
      border-radius: 4px;
    }

    .tb:hover:not(.v2p-hover-btn) {
      background: var(--v2p-color-main-100);
      filter: none;
    }

    // .tb {
    //   &:nth-child(1)::after {
    //     content: '🙏';
    //   }

    //   &:nth-child(2)::after {
    //     content: '⭐';
    //   }

    //   &:nth-child(3)::after {
    //     content: '🐦';
    //   }

    //   &:nth-child(4)::after {
    //     content: '🙈';
    //   }
    // }
  }

  .topic_content {
    font-size: 16px;
  }

  .subtle {
    background-color: var(--v2p-color-accent-50);
    border-left: 3px solid var(--v2p-color-accent-200);

    .topic_content {
      font-size: 15px;
    }
  }

  .vote:link {
    color: var(--v2p-color-main-500);
    border-color: var(--v2p-color-main-300);
    border-radius: 5px;

    &:hover {
      box-shadow: 0 2px 2px var(--v2p-color-main-200);
    }
  }

  .cell_tab_current {
    border-color: var(--v2p-color-main-800);
  }

  .cell {
    .topic-link {
      color: var(--v2p-color-main-800);
      text-decoration: none;

      &:visited {
        color: var(--v2p-color-main-400);
      }
    }

    .topic_info {
      position: relative;
      user-select: none;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: -6px;
        left: 0;
        z-index: 1;
        background-color: var(--v2p-color-content-bg);
        content: '';
      }

      .votes,
      .node,
      strong:first-of-type,
      span:first-of-type {
        position: relative;
        z-index: 99;
      }

      a[href^='/member'] {
        color: var(--v2p-color-main-500);
        font-weight: 500;
      }
    }

    &:hover .count_livid {
      opacity: 1;
    }

    .count_livid {
      display: inline-block;
      padding: 5px 10px;
      color: var(--v2p-color-main-400);
      font-weight: 400;
      font-size: 12px;
      white-space: nowrap;
      background-color: var(--v2p-color-main-200);
      border-radius: 5px;
      opacity: 0.8;
    }

    .item_title {
      font-weight: 600;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }

  .cell.item {
    tr > td:nth-child(2) {
      width: 30px;
    }
  }

  .cell[id^='r'] {
    &:hover {
      > table {
        td:last-of-type {
          .fr {
            a {
              opacity: 1;
            }
          }
        }
      }
    }

    > table {
      &:first-of-type td {
        &:first-of-type {
          width: 40px;

          .avatar {
            width: 40px !important;
            border-radius: 5px;
          }
        }
      }

      ~ .cell {
        /* 嵌套回复 */

        padding: 20px 0 0 15px;
        border: none;

        .cell {
          padding: 20px 0 0; /* 多层嵌套取消缩进 */
          border: none;
        }

        tr td {
          &:first-of-type {
            width: 25px;

            .avatar {
              width: 25px !important;
              border-radius: 4px;
            }
          }

          /* 回复人的昵称 */
          &:nth-child(3) strong a {
            font-size: 13px;
            opacity: 0.75;
          }
        }

        /* 回复的内容 */
        .reply_content {
          font-size: 14px;
        }
      }

      td {
        &:nth-of-type(2) {
          /* 头像与右侧的距离 */
          width: 15px;
        }

        &:last-of-type {
          a.dark {
            color: var(--v2p-color-main-600);
            text-decoration: none;
          }

          .fr {
            position: relative;
            top: -3px;
            user-select: none;

            a {
              opacity: 0;
            }

            & + .sep3 {
              height: 0;
            }
          }
        }
      }
    }

    &:last-of-type {
      border: none;
    }

    .no {
      position: relative;
      top: -4px;
      padding: 5px 10px;
      color: var(--v2p-color-main-300);
      font-size: 12px;
      background-color: transparent;
      border-radius: 5px;
      user-select: none;
    }

    /* 帖主徽章 & 管理员徽章 */
    .badge {
      padding: 2px 5px;
      font-weight: 600;
      border: 1px solid var(--v2p-color-accent-400);
      user-select: none;

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &.op {
        color: var(--v2p-color-accent-500);
        background-color: var(--v2p-color-accent-50);
      }

      &.mod {
        color: var(--v2p-color-content-bg);
        background-color: var(--v2p-color-accent-400);
      }

      &.you {
        color: var(--v2p-color-orange-400);
        background-color: var(--v2p-color-orange-50);
        border: 1px solid var(--v2p-color-orange-400);
      }
    }
  }

  #Tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 6px 8px;
    align-items: center;

    .tab {
      margin: 0;
      user-select: none;
    }
  }

  #SecondaryTabs {
    padding: 10px;
    background-color: var(--v2p-color-main-100);
    border-radius: 5px;
  }

  .topic_content,
  .reply_content {
    a[href^='http'] {
      color: var(--v2p-color-main-500);
      text-decoration: none;
      background-color: var(--v2p-color-main-100);

      &:hover {
        color: var(--v2p-color-accent-500);
        background-color: var(--v2p-color-accent-50);
      }
    }
  }

  .reply_content {
    font-size: 15px;

    a[href^='http'] {
      font-size: 12px;
    }

    a[href^='/member'] {
      color: var(--v2p-color-main-400);
      font-size: 13px;
      text-decoration: underline;
      background-color: var(--v2p-color-main-100);
    }
  }

  .thank_area {
    font-size: 12px;
  }

  .tab {
    background-color: transparent;

    &:not(.v2p-hover-btn):hover {
      background-color: var(--v2p-color-main-100);
    }
  }

  .tab_current {
    background-color: var(--box-foreground-color);
  }

  #reply-box {
    &.reply-box-sticky {
      bottom: 20px;
      z-index: 10;
      overflow: visible;
      border: none;
      border-radius: 10px;
      box-shadow: 0 0 15px 5px var(--box-background-hover-color);
    }

    .flex-one-row {
      padding: 0;
      font-size: 12px;
    }

    #reply_content {
      font-size: 15px;
      border-color: var(--v2p-color-main-300);
      border-radius: 6px;

      & + .flex-one-row {
        flex-direction: row-reverse;
        gap: 10px;
        justify-content: flex-start;

        .gray {
          margin-right: auto;
        }
      }
    }

    > .cell {
      &.flex-one-row,
      &.flex-row-end {
        padding: 12px 10px;
        font-size: 12px;
      }
    }
  }
}

/* ================================================================ */

#Rightbar {
  .box {
    opacity: 0.5;
    transition: opacity 0.25s;

    &:hover {
      opacity: 1;
    }
  }

  .balance_area {
    display: flex;
    align-items: center;
  }
}

/* ================================================================ */

#Bottom {
  .inner .small.fade {
    display: none;
  }

  a.dark:link {
    color: var(--v2p-color-main-600);
  }
}

/* ============================
以下样式需要搭配 JS 脚本使用
=============================== */

/* stylelint-disable-next-line no-duplicate-selectors */
body {
  &.modal-open {
    overflow: hidden;
  }
}

.v2p-hover-btn {
  position: relative;
  z-index: 1;
  margin: 0;
  background: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;

  &::before {
    position: absolute;
    top: 0;
    right: -5px;
    bottom: 0;
    left: -5px;
    z-index: -1;
    background-color: var(--v2p-color-main-100);
    border-radius: 5px;
    transform: scale(0.6);
    opacity: 0;
    transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
    content: '';
  }

  &:hover::before {
    transform: scale(1);
    opacity: 1;
  }
}

.v2p-icon-heart {
  display: inline-flex;
  width: 16px;
  height: 16px;
  color: var(--v2p-color-heart);

  svg {
    fill: var(--v2p-color-heart-fill);
  }
}

#Main > .box > .cell:has(.v2p-popular-btn) {
  > .fr {
    position: relative;
    top: 4px;
    margin: 0 !important;
  }

  > .gray {
    display: inline-flex;
    align-items: center;
  }
}

.v2p-popular-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;

  &:hover {
    .v2p-icon-heart {
      color: var(--v2p-color-heart);
      transition: color 0.3s, fill 0.3s;
    }
  }

  .v2p-icon-heart {
    margin-right: 5px;
    color: currentColor;

    svg {
      fill: none;
    }
  }
}

.v2p-dot {
  margin: 0 8px;
  font-weight: 800;
  font-size: 20px;
  font-size: 15px;
}

.v2p-paging {
  background: none !important;
}

.v2p-cm-mask {
  position: fixed;
  z-index: 999;
  padding: 60px;
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--v2p-color-mask);
  inset: 0;
}

.v2p-cm-content.box {
  position: relative;
  box-sizing: border-box;
  width: 800px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  overflow-x: hidden;
  overflow-y: auto;

  .v2p-controls > a:has(.v2p-ac-reply) {
    cursor: not-allowed;
    pointer-events: none;
  }

  .no {
    pointer-events: none;
  }
}

.v2p-cm-bar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 15px 0 20px;
  background-color: var(--v2p-color-content-bg);
}

.v2p-cm-close-btn {
  margin-left: auto;
}

.v2p-heart-box {
  position: relative;
  top: 3px;
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
}

@supports not selector(:has(*)) {
  #Main .cell[id^='r'] > table:hover {
    .v2p-controls {
      opacity: 1;
    }
  }
}

@supports selector(:has(*)) {
  #Main .cell[id^='r']:not(:has(.cell:hover)) > table:hover {
    .v2p-controls {
      opacity: 1;
    }
  }
}

.v2p-controls {
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
  font-size: 12px;
  column-gap: 15px;
  opacity: 0;

  > a {
    text-decoration: none;
    opacity: 1;
  }
}

.v2p-control {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  padding: 4px 0;
  color: var(--v2p-color-main-400);
}

.topic_buttons .v2p-tb.v2p-hover-btn {
  color: var(--v2p-color-main-400);
  transition: color 0.3s;

  &:hover {
    color: currentColor;
  }

  &::after {
    display: none;
  }
}

.v2p-tb-icon {
  width: 15px;
  height: 15px;
}

#v2p-emoji-popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: max-content;
  max-height: 285px;
  padding: 12px;
  overflow-y: auto;
  color: var(--v2p-color-main-600);
  font-weight: bold;
  font-size: 14px;
  background: var(--v2p-color-content-bg);
  border-radius: 8px;
  box-shadow: 0 9px 24px -3px var(--button-border-color), 0 4px 8px -1px var(--button-hover-color);
  visibility: hidden;
}

.v2p-emoticons-box {
  font-size: 15px;
}

.v2p-emoji-group {
  font-size: 15px;

  & ~ & {
    margin-top: 10px;
  }
}

.v2p-emoji-name {
  margin: 0 0 10px;
  text-align: left;
}

.v2p-emoji-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 6px;
  font-size: 15px;
}

.v2p-emoji {
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: var(--box-background-hover-color);
  }
}

.v2p-decode {
  padding: 2px 4px;
  color: var(--v2p-color-orange-400);
  font-size: 13px;
  background-color: var(--v2p-color-orange-50);
  cursor: copy;

  &:hover {
    color: var(--v2p-color-orange-400);
    background-color: var(--v2p-color-orange-50);
  }

  &:active {
    opacity: 0.6;
  }
}
