@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-main: #1e293b;
  --color-fade: #cbd5e1;
  --color-background: #fff;
}

::selection {
  color: currentcolor;
  background-color: rgb(30 41 59 / 10%);
}

.hero-title {
  text-shadow: 0 4px 0 var(--color-fade);
}

.hero-title .text-polish {
  -webkit-text-fill-color: var(--color-background);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color-main);
  text-shadow: 0 4px 0 var(--color-main);
}
