@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #fff;
  --v2p-color-main-50: #f7f9fb;
  --v2p-color-main-100: #f1f5f9;
  --v2p-color-main-200: #e2e8f0;
  --v2p-color-main-300: #cbd5e1;
  --v2p-color-main-350: #94a3b8cc;
  --v2p-color-main-400: #94a3b8;
  --v2p-color-main-500: #64748b;
  --v2p-color-main-600: #475569;
  --v2p-color-main-700: #334155;
  --v2p-color-main-800: #1e293b;

  background-color: var(--color-background);
}

::selection {
  color: currentcolor;
  background-color: rgb(30 41 59 / 10%);
}

.hero-title {
  text-shadow: 0 4px 0 var(--v2p-color-main-300);
}

.hero-title .text-polish {
  -webkit-text-fill-color: var(--color-background);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color-main);
  text-shadow: 0 4px 0 var(--color-main);
}

.screenshot {
  --color-content: #fff;
}
