/**
 * 作者：LeoKu (https://github.com/Codennnn)
 * 项目: https://github.com/coolpace/V2EX_Plus
 */

:root {
  /* stylelint-disable-next-line value-keyword-case */
  --v2p-font-noto-sans: -apple-system, BlinkMacSystemFont, 'Noto Sans SC', sans-serif;
  --v2p-color-main-100: #f1f5f9;
  --v2p-color-main-200: #e2e8f0;
  --v2p-color-main-300: #cbd5e1;
  --v2p-color-main-400: #94a3b8;
  --v2p-color-main-500: #64748b;
  --v2p-color-main-600: #475569;
  --v2p-color-main-700: #334155;
  --v2p-color-main-800: #1e293b;
  --v2p-color-main-900: #0f172a;
  --v2p-color-accent-50: #fff1f2;
  --v2p-color-accent-100: #ffe4e6;
  --v2p-color-accent-200: #fecdd3;
  --v2p-color-accent-300: #fda4af;
  --v2p-color-accent-400: #fb7185;
  --v2p-color-accent-500: #f43f5e;
  --v2p-color-accent-600: #e11d48;
  --v2p-color-accent-700: #be123c;
  --v2p-color-accent-800: #9f1239;
  --v2p-color-accent-900: #881337;
  --v2p-color-border: rgb(238 238 238);
  --v2p-color-wrapper-bg: rgb(249 250 252);
  --v2p-color-content-bg: rgb(255 255 255);
  --color-fade: #94a3b8;
  --color-gray: #94a3b8;
  --link-color: #1e293b;
  --box-border-color: #f1f5f9;
}

body {
  color: var(--v2p-color-main-800);
  font-family: var(--v2p-font-noto-sans);
  background-color: var(--v2p-color-wrapper-bg);
}

body .box {
  overflow: hidden;
  background-color: var(--v2p-color-content-bg);
  border: none;
  border-radius: 8px;
  box-shadow: none;
}

body .box .header .gray {
  color: var(--v2p-color-main-400);
}

body .box .topic_buttons {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 8px 0;
  background: none;
}

body .box .topic_buttons .topic_stats {
  margin-left: auto;
  padding: 0 !important;
  font-size: 12px;
}

body .box .topic_buttons .tb {
  padding: 6px 12px;
  border-radius: 4px;
  filter: grayscale(1);
}

body .box .topic_buttons .tb:hover {
  background-color: var(--v2p-color-main-100);
  filter: none;
}

#reply-box.reply-box-sticky {
  bottom: 20px;
  overflow: hidden;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px var(--v2p-color-main-200);
}

/* ====== 帖子标签 ====== */

body .box > .cell:first-of-type .fr .tag {
  font-size: 13px;
  background-color: var(--v2p-color-main-100);
  border-radius: 5px;
}

body .box > .cell:first-of-type .fr .tag:hover {
  color: currentcolor;
  background-color: var(--v2p-color-main-200);
}

/* ------ 帖子标签 ------ */

body #Top {
  border: none;
}

#Top > .content {
  height: 100%;
}

#Top > .content > .site-nav {
  height: 100%;
  padding: 0;
}

#Top > .content > .site-nav .tools {
  display: flex;
  gap: 5px 16px;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 14px;
}

#Top > .content > .site-nav .tools > .top {
  margin-left: 0;
  color: var(--v2p-color-main-400);
}

#Top > .content > .site-nav .tools > .top:hover {
  color: var(--v2p-color-main-800);
}

/* ================================================================ */

body #Wrapper {
  background-color: inherit;
  background-image: none;
}

#Wrapper > .content > #Main > .box {
  padding: 0 12px;
}

#Wrapper > .content > #Main .cell.item .count_livid {
  display: inline-block;
  padding: 5px 10px;
  color: var(--v2p-color-main-400);
  font-weight: 400;
  background-color: var(--v2p-color-main-200);
  border-radius: 5px;
  opacity: 0.55;
}

#Wrapper > .content > #Main .cell.item:hover .count_livid {
  opacity: 0.9;
}

#Wrapper > .content > #Main > .box #Tabs .tab_current {
  background-color: var(--v2p-color-main-700);
}

#Wrapper > .content > #Main > .box .cell {
  padding: 20px 10px;
}

#Wrapper > .content > #Main > .box .cell .cell {
  border: none;
}

#Wrapper > .content > #Main > .box .cell.item {
  border-bottom: 1px solid var(--v2p-color-border);
}

#Wrapper > .content > #Main > .box .cell.item .item_title {
  font-weight: 600;
  opacity: 0.8;
}

#Wrapper > .content > #Main > .box .cell.item .item_title:hover {
  opacity: 1;
}

#Wrapper > .content > #Main > .box .cell.item .topic_info {
  position: relative;
}

#Wrapper > .content > #Main > .box .cell.item .topic_info a.node {
  padding: 5px 6px;
  color: var(--v2p-color-main-400);
  font-size: 13px;
  background-color: var(--v2p-color-main-100);
  border-radius: 4px;
}

#Wrapper > .content > #Main > .box .cell.item .topic_info .votes,
#Wrapper > .content > #Main > .box .cell.item .topic_info .node,
#Wrapper > .content > #Main > .box .cell.item .topic_info strong:first-of-type,
#Wrapper > .content > #Main > .box .cell.item .topic_info span:first-of-type {
  position: relative;
  z-index: 99;
}

#Wrapper > .content > #Main > .box .cell.item .topic_info::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--v2p-color-content-bg);
  content: '';
}

#Wrapper > .content > #Main > .box .cell.item .item_title .topic-link {
  color: var(--v2p-color-main-800);
  text-decoration: none;
}

#Wrapper > .content > #Main > .box .cell.item tr > td:nth-child(2) {
  width: 30px;
}

/* ======= 评论区 ====== */

/* ======= 评论区_头像 ====== */

#Wrapper > .content > #Main > .box .cell[id^='r'] > table:first-of-type tr td:first-of-type {
  width: 40px;
}

#Wrapper > .content > #Main > .box .cell[id^='r'] > table:first-of-type tr td:first-of-type img {
  width: 40px !important;
}

#Wrapper > .content > #Main > .box .cell > table ~ .cell {
  padding-right: 0;
  padding-bottom: 0;
}

#Wrapper > .content > #Main > .box .cell[id^='r'] > table ~ .cell tr td:first-of-type {
  width: 30px;
}

#Wrapper > .content > #Main > .box .cell[id^='r'] > table ~ .cell tr td:first-of-type img {
  width: 30px !important;
}

#Wrapper > .content > #Main > .box .cell[id^='r'] table td:nth-of-type(2) {
  width: 15px;
}

/* OP - 帖主标签 */
#Wrapper > .content > #Main > .box .cell[id^='r'] .badge.op {
  padding: 4px 8px;
  color: var(--v2p-color-accent-500);
  background-color: var(--v2p-color-accent-100);
  border: none;
}

#Wrapper > .content > #Main > .box .reply_content {
  font-size: 15px;
}

/* ====== 帖子内容 ====== */

.topic_buttons #topic_thank a::before {
  margin-right: 0.5em;
  content: '🙏';
}

.topic_buttons > a:nth-child(2)::before {
  margin-right: 0.5em;
  content: '⭐';
}

.topic_buttons > a:nth-child(3)::before {
  margin-right: 0.5em;
  content: '🐦';
}

.topic_buttons > a:nth-child(4)::before {
  margin-right: 0.5em;
  content: '🙈';
}

/* ------ 帖子内容 ------ */

/* ------ 评论区_头像 ------ */

#Wrapper > .content > #Main > .box .cell > table td:last-of-type a.dark:active,
a.dark:link,
a.dark:visited {
  color: var(--v2p-color-main-600);
  text-decoration: none;
}

#Wrapper > .content > #Main > .box .cell > table td:last-of-type .fr a {
  opacity: 0;
}

#Wrapper > .content > #Main > .box .cell:hover > table td:last-of-type .fr a {
  opacity: 1;
}

#Wrapper > .content > #Main > .box .cell > table td:last-of-type .fr .no {
  padding: 5px 10px;
  color: var(--v2p-color-main-300);
  font-size: 12px;
  background-color: transparent;
  border-radius: 5px;
}

#Wrapper > .content > #Main > .box .cell:hover > table td:last-of-type .fr .no {
  background-color: var(--v2p-color-main-100);
}

/* ------ 评论区 ------ */

#Wrapper > .content > #Main > .box .topic_content {
  font-size: 16px;
}

/* ================================================================ */

#Rightbar .box {
  opacity: 0.5;
  transition: opacity 0.25s;
}

#Rightbar .box:hover {
  opacity: 1;
}

#Rightbar .balance_area {
  display: flex;
  align-items: center;
}

/* ================================================================ */

body #Bottom {
  border: none;
}

#Bottom .content .inner .small.fade {
  display: none;
}
